.nav__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.nav{
    background-color:#1c1c1e !important;
}
.logo{
    height: 50px;
    border-radius: 100%;
}
.header__option {
    margin-left: 1100px;
}